<html>
<head>
  <meta charset="utf-8">
<!--robschmuecker’s block #7880033 December 9, 2013 -->

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="dndTree.js"></script>
</head>
<body>
  <h1>Akkapeddi</h1>
  <%- body %>
</body>

</html>