
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>tree</title>
  </head>
  <body>  
<h1>Let's go</h1>
<span id='hidden'><%=jsonPerson%></span>
<div id='tree'>
  
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
<script src="dndTree.js"></script>
  </body>
  </html>